.container-about {
  padding-top: 50px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  & img {
    width: 90%;
    max-height: 200px;
  }
}

.collapse {
  width: 80%;
  display: flex;
  padding-left: 10%;
  margin-bottom: 70px;
  flex-direction: column;
  row-gap: 20px;

  &_container {
    background-color: #ff6060;
    border-radius: 5px;
  }

  &_title {
    display: flex;
    align-items: center;
    width: 96%;
    justify-content: space-between;
    padding-right: 2%;
    padding-left: 2%;
    height: 50px;
    color: white;
  }
  &_content {
    background-color: #f7f7f7;
    padding: 10px 10px 5px 10px;
    color: #ff6060;
    border-radius: 5px;
  }
}
