.card {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  &_img {
    width: 100%;
    height: 280px;
    object-fit: cover;
  }

  &_title {
    font-size: 20px;
    margin: 0px;
    padding-left: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 60px;
  }
}

.cont_link {
  width: 30%;
  text-decoration: none;
  color: black;
}
