.container-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ff6060;
  padding-left: 5%;
  padding-right: 5%;

  & img {
    width: 50%;
    padding: 50px 0px 0px 0px;
    margin: 0px;
  }

  &_txt {
    font-weight: 500;
    font-size: 3vw;
    padding: 50px 0px 100px 0px;
    margin: 0px;
  }

  &_link {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    padding: 50px 0px 50px 0px;
    margin: 0px;
  }
  & a {
    color: #ff6060;
  }
}

@media screen and (max-width: 750px) {
  .container-error_txt {
    padding: 30px 0px 50px 0px;
  }
  .container-error_link {
    font-size: 10px;
  }
}
