.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3rem;
  & img {
    width: 20%;
    height: 20%;
    height: auto;
  }
}
