.containeur_logement {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 50px;
  padding-bottom: 50px;
  &-title {
    display: flex;
    flex-direction: column;
    width: 80%;
    color: #ff6060;
    row-gap: 10px;
    & h2 {
      font-size: 36px;
      margin: 0px;
      font-weight: 500;
    }
    & p {
      font-size: 18px;
      margin: 0px;
    }
  }
  &-tags {
    & ul {
      margin: 0px;
      padding: 0px;
    }
    & li {
      background-color: #ff6060;
      color: white;
      border-radius: 15px;
      font-size: 12px;
    }
  }
  &-host {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    gap: 10px;
    & p {
      font-size: 18px;
      color: #ff6060;
    }
    & img {
      border-radius: 50%;
      width: 64px;
      height: 64px;
    }
  }
  &-tags ul {
    display: flex;
    gap: 10px;
    padding-top: 30px;
    & li {
      padding: 5px 30px 5px 30px;
      border-radius: 10px;
    }
  }
}
