.containeur {
  &_logement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
    &-title {
      display: flex;
      flex-direction: column;
      width: 80%;
      color: #ff6060;
      row-gap: 10px;
      & h2 {
        font-size: 36px;
        margin: 0px;
        font-weight: 500;
      }
      & p {
        font-size: 18px;
        margin: 0px;
      }
    }
    &-tags {
      & ul {
        margin: 0px;
        padding: 0px;
      }
      & li {
        background-color: #ff6060;
        color: white;
        border-radius: 15px;
        font-size: 12px;
      }
    }
    &-host {
      display: flex;
      width: 20%;
      gap: 10px;
      & p {
        font-size: 18px;
        color: #ff6060;
      }
      & img {
        border-radius: 50%;
        width: 64px;
        height: 64px;
      }
    }
    &-tags ul {
      display: flex;
      gap: 10px;
      padding-top: 30px;
      & li {
        padding: 5px 30px 5px 30px;
        border-radius: 10px;
      }
    }
  }
  &_collapse {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 50px;
    width: 90%;
    padding: 0% 5% 50px 5%;
    gap: 10%;
  }
  &_profil {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
  }
}

.collapse {
  &_single {
    display: flex;
    background-color: #ff6060;
    border-radius: 5px;
    align-items: center;
    width: 96%;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
    height: 50px;
    color: white;
    & h2 {
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.etoile {
  &_pleine {
    color: #ff6060;
    margin-right: 10px;
  }
  &_vide {
    color: gray;
    margin-right: 10px;
  }
}

@media screen and (max-width: 500px) {
  .containeur_logement {
    flex-direction: column;
  }
  .containeur_profil {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }
}
